/.idea
/coverage
/integration-tests
/src
/test

.babelrc
.eslintignore
.eslintrc
.gitignore
.jshintignore
.jshintrc
.npmignore
.nvmrc
.stickler.yml
.travis.yml
linters_entry_point.sh
test_entry_point.sh

